/**/
*{
    margin: 0;
    padding: 0;
    font-size: 15px;
    
}

h1 {
    color:aliceblue;
    background-color: rgb(172, 2, 2);
    background-clip:content-box;
    font-size: 3vw;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1vw 1em 1em 0em;


}

body {
    background-color: rgb(rgb(211, 211, 211), green, blue);
    text-align: justify;
    font-size: 2.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3em 1em 3em 1em;

}

ul {
    list-style-type: none;
    margin: 1em 1em 1em 1em;
    text-emphasis-color: yellow;
    font-size: 17px;
    
}
li{
    margin: 1em 1em 1em 1em;
}
#image{
    border-radius: 100px;
    border: rgb(172, 2, 2) solid 3px;
}