@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap');


body {
    background-color: rgb(243, 243, 243);
    box-sizing: border-box;
    vertical-align: middle;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


a {

    text-decoration: none;
    color: black;
}

.brand {
    font-size: 22px;
    font-weight: 400;
    display: inline;
    vertical-align: middle;
}

.heading {

    display: inline;
    width: 100px;

}

#logo {


    vertical-align: middle;
}

nav {

    width: 100vw;
    height: 60px;


}

#navs {

    margin-top: 16px;
    position: float;
    float: right;

    text-align: center;


}

nav a {

    /* font-size: larger; */
    vertical-align: middle;
    padding-right: 1em;
}

span {

    font-size: 19px;
    padding-right: 8px;
    vertical-align: middle;
}

header {
    text-decoration: none;
    background-color: rgb(55, 71, 119);
    padding: 1em;
    color: white;
    text-align: center;
    

}
header>h2{
    font-weight: 300;
}


.container {
    margin-left: 50px;
}

#leftbox,
#rightbox {
    margin-top: 50px;
    margin-inline: -3px;

    /* margin-left: 45px; */
    border-inline: 1px solid rgb(225, 225, 225);

    /* border-collapse: collapse; */
    display: inline-block;
    width: 700px;
    height: 450px;
    text-align: center;

}

#leftbox {
    border-left: 0ch;
}

#rightbox {
    border-right: 0;
    vertical-align: top;
}

button {
    background-color: white;
    border: 1px solid lightgray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
 
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    width: 400px;
    height: 40px;
    vertical-align: middle;
 
}



#button1 {
    margin-top: 20px;
    color: white;
    background-color: black;
    width: 406px;
    height: 46px;
    font-size: 20px;
}

div>p {
    margin: 1em;
    vertical-align: top;
    text-align: justify;
    padding-left: 7em;
    padding-right: 8em;
    font-weight: normal;
}

#button2 {
    margin-right: 270px;
    color: white;
    background-color: black;
    width: 170px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

#l {
    color: gray;
    font-weight: lighter;
    padding-right: 130px;
    margin-bottom: 1px;
}

#l2 {
    color: grey;
    font-weight: lighter;
    text-align: center;
}

#u {

    color: gray;
    font-weight: lighter;
    padding-right: 280px;
    margin-bottom: 1px;
}

#p {
    color: gray;
    font-weight: lighter;
    padding-right: 340px;
    margin-bottom: 1px;

}

#check {
    color: gray;
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 1px;
}

#pass {
    font-size: 15px;
    color: gray;
    font-weight: 400;
    padding-left: 165px;
    margin-top: 5px;
    margin-bottom: 1px;
}


h3 {
    /* padding-right: 30px; */
    position: relative;
    right: 160px;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: -10px;
}

.textfield {
    margin-top: 5px;
    border-radius: 3px;
    width: 400px;
    height: 40px;
    border: 1px solid grey;
}
.textfield:focus{
    outline: none;
    border: 2px solid rgb(10, 151, 238);
}



.blue {
    text-decoration: none;
    color: rgb(10, 151, 238);
}
#rightbox img{
    position: relative;
    padding-right: 100px;
}